body{
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.tamanho-container{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
button{
    width: 90px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: royalblue;
    transition: 0.3s;
}
button:hover{
    width: 100px;
    height: 45px;
    opacity: 0.7;
}
input{
    height: 30px;
    width: 30%;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}